@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #000000;
  --font-text: "Lato", sans-serif;
  --font-title: "Montserrat Alternates", sans-serif;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: var(--font-text);
}

h1, h2, h3 {
  font-family: var(--font-title);
}

button {
  font-family: var(--font-title);
}

li {
  font-family: var(--font-title);
}

.transition-all {
  transition: all 0.3s ease-in-out;
}